<h3>Nuevo Usuario</h3>
<form method="POST">
    Nombre de Usuario: <br>
    <input type="text" name="nombreUsuario" /><br>
    Nombre Completo: <br>
    <input type="text" name="nombreCompleto" /><br>
    Constraseña:<br>
    <input type="password" name="pwd" /><br>
    <input type="submit" />
</form>