<div>
    <form method="get">
        Filtrar:<br>
        <input type="text" name="filtro" />
        <input type="submit" />
    </form>

    {{#each lista}}
        <b>{{ Nombre }}</b> <br />
    {{/each}}
</div>